
body {
    background-color:rgb(133, 16, 16);
}

.rubik-burned-regular {
    font-family: "Rubik Burned", system-ui;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-family: "Rubik Burned",'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans', Arial, sans-serif;
    font-size: 600%;
    color: white;
} 

h2,
ul,
li,
p{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p{
    background-color: white;
    color: rgb(133, 16, 16);
    padding: 25px;
}

ul{
    font-size: 200%;
    text-align: left;
}

h2{
    font-size: 300%;
}

a{
    color: rgb(133, 16, 16)
}

a:hover{
    color:ghostwhite
}

table{
    width: 100%;
    text-align: center;
    background-color: rgb(212, 184, 3);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



figcaption{
    background-color: rgb(212, 184, 3);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 25px;
    border: 2px, solid, white;

}

.vol1cover{
    display: block;
    float: inline-end;
}